/* 详情页：回答列表，右移 */
.Question-main{margin:10px 10px 10px 600px !important;}
/* 详情页：右侧side隐藏 */
.Question-sideColumn{display: none !important}

/* 顶部 */
div[style="height: 180px;"]{display: none !important}

header{display: none !important}

/* 列表页：阅读全文 */
.ContentItem-more{color:rgb(229 125 125 / 20%) !important;}
.TopstoryItem--advertCard{display: none !important}


/* 热榜信息优化 */
.HotItem{margin: 0 0 0 16px}
.HotItem-index{display:none !important;}
.HotItem-img{display:none !important;}
.HotItem-metrics{display:none !important;}

